<html>
    <head>
    </head>
    <body>
      <div style="height:100%;min-height:300px;width:80%;margin:0px auto;">
          <div style="min-height:75px;background:#F3EFEE;margin-bottom:10px">
              <div style="padding-top:20px;">
                  <h3 style="text-align:center">Reset Your Password !!</h3>
              </div>
          </div>
          <div style="min-height:150px;text-align:center"> 
             <div style="padding-top:70px;">
               <span style="padding:10px 80px 10px 80px;background:#E67E22;">
                  <a style="font-size:14px;text-decoration: none;color:black" href="{{url}}">Reset Password</a>
               </span>
             </div>
          </div>
          <div style="min-height:100px;background:#F3EFEE;text-align:center;margin-bottom:10px">
              <div style="padding-top:60px;">
                  <span style="">Footer</span>
              </div>
          </div>    
      </div>
    </body>
</html>